@import "/src/index.css";

.footerLogo {
  height: 50px;
  width: 50px;
}

.grid {
  max-width: 80vw;
  margin: 0 auto;
  padding: 30px 0;
}

.grid__item {
  grid-column: 3 / -3;
  width: 100%;
  direction: ltr;
}

hr {
  display: block;
  clear: both;
  width: 33%;
  height: 0.1rem;
  margin: 3em auto;
  padding: 0;
  border: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* .sketch-rule {
  width: 100%;
  height: 0.4em;
  border: 0;
  background: url("./assets/images/divider.svg") center/5em 100% repeat-x;
} */

.footer-copyright-info {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding-bottom: 20px;
}
.cc-license {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  color: #7f88a6;
  padding-left: 30px;
}
.gitlab-repository {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  color: #7f88a6;
  padding-left: 30px;
  padding-bottom: 20px;
}
.gitlab-repository a:hover {
  text-decoration: underline;
}
.cc-license a:hover {
  text-decoration: underline;
}
.footer-copyright-info a:hover {
  text-decoration: underline;
}
.new_footer_area {
  background: theme("colors.light");
}
.row {
  display: flex;
  gap: 2em;
}
.container {
  padding: 0px 50px;
}
.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: theme("colors.primary-2");
}
.btn_get:hover {
  color: #fff;
  background: theme("colors.primary-1");
  border-color: theme("colors.primary-1");
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: theme("colors.primary-2");
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: theme("colors.primary-2");
  border-color: theme("colors.primary-2");
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: theme("colors.primary-2");
}

.new_footer_top .f_social_icon a:hover {
  background: theme("colors.primary-2");
  border-color: theme("colors.primary-2");
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("./assets/images/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("./assets/images/chicken3.gif") no-repeat center center;
  width: 150px;
  height: 90px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("./assets/images/chicken3.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
