@import "/src/index.css";

@layer components {
  .Paragraph {
    @apply px-8 mt-3 py-2 flex flex-col justify-center gap-3
        border-l-4
        transition-all duration-[250ms];

    & > .title {
      @apply font-serif font-bold;
    }

    & > .content {
      @apply font-normal text-dark text-justify;
    }

    & p {
      @apply mb-3;
    }
  }
}

.Paragraph[data-hierarchy="0"] {
  --accent: theme("colors.primary-1");
  --title-font-size: theme("fontSize.4xl");
}

.Paragraph[data-hierarchy="1"] {
  --accent: theme("colors.primary-2");
  --title-font-size: theme("fontSize.2xl");
}

.Paragraph[data-hierarchy="2"] {
  --accent: theme("colors.primary-2");
  --title-font-size: theme("fontSize.xl");
}

.Paragraph > .title {
  color: var(--accent);
  font-size: var(--title-font-size);
}
