@import "/src/index.css";

@layer components {
  .SlideScroller {
    @apply p-0 m-0 my-auto relative w-[80%] h-[80vh] overflow-hidden flex flex-col justify-center items-center
    border-t-[8px] border-t-primary-1 rounded-xl
    transition-all duration-300;

    &.cover {
      @apply bg-primary-1;
    }

    &.slides {
      @apply bg-light;
    }

    & > .title {
      @apply absolute font-serif font-bold z-[800]
      transition-all duration-200  p-3 text-white;

      &.large {
        @apply text-5xl top-[30%] shadow-none;
      }

      &.small {
        @apply text-2xl top-0 bg-primary-1 text-white rounded-b-md shadow-md;
      }
    }

    & > .btn__start > button {
      @apply px-4 py-3 min-w-[5rem] border-none rounded-md text-primary-1
      flex justify-center items-center gap-2
        bg-white font-semibold;
    }

    .SlideUpdatePanel {
      @apply absolute p-2 mb-5 bottom-0 bg-slate-800
      rounded-md flex justify-evenly items-center w-1/5
      bg-opacity-40 backdrop-blur hover:bg-opacity-60
      transition-all duration-200;

      button {
        @apply bg-primary-2 text-white shadow-sm rounded hover:scale-[1.10] transition-all duration-150;
      }

      .info {
        @apply w-3/5 text-white font-mono text-center
        flex justify-around gap-1;

        & > * {
          @apply relative overflow-hidden;
        }

        span.stage {
          @apply capitalize flex flex-col;
        }
      }
    }

    .Slide {
      @apply p-4 pb-12 w-full h-full m-8 mb-0 pt-16 flex flex-col items-center overflow-scroll;

      & > .info {
        @apply flex flex-col items-center gap-2;

        .title {
          @apply text-primary-1 font-serif text-3xl font-bold;
        }

        .meta {
          @apply pt-2 font-mono font-semibold text-slate-500 capitalize
          border-t-2 border-t-slate-400;
        }
      }

      .Paragraph {
        @apply gap-1;
      }
    }
  }

  .CycleSelector ul {
    @apply flex gap-2;

    li > span {
      @apply text-white cursor-pointer;

      &.active {
        @apply bg-secondary;
      }
    }
  }
}

.Paragraph[data-hierarchy="0"] {
  --accent: theme("colors.primary-1");
  --title-font-size: theme("fontSize.2xl");
}

.Paragraph[data-hierarchy="1"] {
  --accent: theme("colors.primary-2");
  --title-font-size: theme("fontSize.xl");
}

.Paragraph[data-hierarchy="2"] {
  --accent: theme("colors.secondary");
  --title-font-size: theme("fontSize.lg");
}
